* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  font-size: 16px;
  height: 100%;
}
body {
  line-height: 1;
  background-image: url("images/daniel-ramirez-q4TfWtnz_xw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 3rem;
  color: black;
}
h2 {
  font-size: 2.25rem;
  color: black;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
  color: black;
  font-weight: bold;
}

img {
  border-radius: 35px;
  opacity: 0.6;
}
img:hover {
  border-radius: 100px;
  opacity: 1;
}

label {
  font-size: 1.75rem;
  color: black;
  padding-right: 1rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  flex-direction: column;
}

.main-content-wrapper {
  width: 90vw;
  min-width: 25vw;
  border-color: black;
  margin: 100px auto 0;
  border-radius: 20px;
  background-color: transparent;
  padding: 15rem 10rem 35px;
  text-align: center;
}

.input-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.input-wrapper {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#styled-input {
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 250px;
  transition: box-shadow 0.3s ease;
}
#styled-input::placeholder {
  color: #888;
  opacity: 1;
}

#styled-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #888;
}

#styled-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #888;
}
#styled-input:focus {
  box-shadow: 0 0 10px rgb(115, 122, 124);
}

#styled-input:hover {
  box-shadow: 0 0 20px rgba(81, 203, 238, 0.5);
}
button {
  margin: 1rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #3498db, #a3b4aa);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: #2980b9;
  box-shadow: 0 0 20px rgba(81, 203, 238, 0.5);
}
button:active {
  transform: scale(0.95);
}

button:disabled {
  background-color: #bdc3c7; /* Grayed out */
  cursor: not-allowed; /* Indicate the button is not clickable */
}
.landingPage {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  text-align: center;
}

.sectionContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: auto; */
  text-align: center;
}

#weatherResult {
  margin-top: 20px;
  display: none;
}

/* Media Queries */
@media (max-width: 600px) {
  header {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .main-content-wrapper {
    padding-top: 5rem;
  }

  .sectionContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    text-align: center;
  }

  .input-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
}
