* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  line-height: 1;
  background-color: #3c3c44;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: scroll;
  overflow: hidden;
  height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 2rem;
  color: #67736c;
}
h2 {
  font-size: 1.95rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: bold;
  padding-right: 0.25rem;
}

img {
  opacity: 0.6;
}

label {
  font-size: 1.75rem;
  color: whitesmoke;
  padding-right: 1rem;
}

.sectionContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formContent {
  display: flex;
  padding: 0rem 0rem;
  margin: 1rem 4rem;
  background-color: #72696940;
  border: 1px solid white;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-close {
  position: absolute;
  top: -11px;
  right: -6px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
  min-width: 1rem;
  max-width: 2rem;
  margin: 1rem;
  border-radius: 5px;
  background-image: linear-gradient(to right, #7e92a0, #a3b4aa);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  align-items: flex-start;
}

.header-container {
  background-color: rgb(178, 160, 160);
  opacity: 1;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}

.current-info-container {
  padding: 2rem 3rem;
  color: #fff;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container {
  font-weight: 100;
}

.date-container .time {
  font-size: 4rem;
}

.date-container #am-pm {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.date-container .date {
  font-size: 1rem;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 1rem;
  font-weight: 100;
}

.place-container .country {
  font-size: 12px;
  font-weight: 700;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  width: 13rem;
}
.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.future-forecast {
  background: rgba(24, 24, 27, 0.8);
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #eee;
}

.future-forecast .today .day {
  padding: 5px 15px;
  background: #4c4c55;
  border-radius: 50px;
  text-align: center;
}

.future-forecast .today .temp {
  font-size: 1.2rem;
  padding-top: 15px;
}

.future-forecast .weather-forecast {
  display: flex;
  flex-direction: row;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
}

.weather-forecast .weather-forecast-item .day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
  font-size: 0.85rem;
  font-weight: 100;
}

nav img {
  width: 40px;
}

#hidden {
  display: none;
}

.weather-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-wrapper {
  border-color: black;
  background-color: transparent;
  text-align: center;
}

.weather-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  background: linear-gradient(135deg, #3498db, #a3b4aa);
  color: #fff;
  margin: 0rem 1rem;
  max-width: 45rem;
  height: 11rem;
  width: 22rem;
  border-radius: 15px;
  padding: 1rem 0rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card h3 {
  text-align: center;
}

.weather-icon {
  width: 5rem;
}

.open-weather-icon {
  width: 8rem;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
  padding-top: 1rem;
}

.details {
  display: flex;
  align-items: center;
  padding: 0rem;
  margin-top: 1rem;
  justify-content: center;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 1rem;
  text-wrap: nowrap;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 20px;
  margin-top: -6px;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-left: 0.25rem;
}

.input-wrapper {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#styled-input,
#styled-input1 {
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s ease;
}
#styled-input::placeholder,
#styled-input1::placeholder {
  color: #888;
  opacity: 1;
}

#styled-input:-ms-input-placeholder,
#styled-input1:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #888;
}

#styled-input::-ms-input-placeholder,
#styled-input1::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #888;
}
#styled-input:focus,
#styled-input1:focus {
  box-shadow: 0 0 10px rgb(115, 122, 124);
}

#styled-input:hover,
#styled-input1:hover {
  box-shadow: 0 0 20px rgba(81, 203, 238, 0.5);
}
button {
  display: flex;
  align-items: center;
  margin: 1rem;
  font-weight: bold;
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  min-width: 11rem;
  max-width: 15rem;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #3498db, #a3b4aa);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button img {
  width: 16px;
  margin: 0.25rem;
}
button:hover {
  background-color: #2980b9;
  box-shadow: 0 0 20px rgba(81, 203, 238, 0.5);
}
button:active {
  transform: scale(0.95);
}

button:disabled {
  background-color: #bdc3c7; /* Grayed out */
  cursor: not-allowed; /* Indicate the button is not clickable */
}

#weatherResult {
  margin-top: 20px;
  display: none;
}

/* Form Error styles */
.error {
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  color: #0f82cf;
  background-color: black;
  display: none;
  z-index: 1;
}

.error p {
  font-size: 0.95rem;
}

/* Media Queries */
@media (max-width: 965px) {
  p {
    font-size: 0.69rem;
    line-height: 1.25;
    font-weight: bold;
  }

  nav {
    padding: 0.45rem;
    text-wrap: nowrap;
    display: block;
  }

  nav h1 {
    font-size: 2.2rem;
  }

  .current-info-container {
    padding: 0.5rem 3rem;
    color: #fff;
  }

  .main-content-wrapper {
    flex-direction: column;
  }

  .details {
    display: flex;
    align-items: center;
    padding: 0rem;
    margin-top: 1rem;
    flex-direction: column;
  }

  .weather-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .card {
    position: relative;
    background: linear-gradient(135deg, #3498db, #a3b4aa);
    color: #fff;
    max-width: 45rem;
    width: 20rem;
    border-radius: 15px;
    padding: 15px 0px;
    max-width: 18rem;
  }

  .bottom-card {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

  .card h3 {
    font-size: 2rem;
    text-align: center;
  }

  .weather h2 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 0.5rem;
  }

  .weather-icon {
    width: 4rem;
  }

  .sectionContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  #styled-input {
    padding: 11px 7px;
  }

  button {
    padding: 0.5rem 1rem;
    min-width: 14rem;
  }

  .form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0rem;
  }

  .formContent {
    display: flex;
    align-items: center;
    padding: 0rem 3rem;
    background-color: #72696940;
    border: 1px solid white;
    border-radius: 25px;
    justify-content: center;
    flex-direction: row;
    text-align: center;
  }

  .input-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem;
  }
}

@media only screen and (max-width: 1120px) {
  .container {
    padding: 20px;
  }

  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }

  .future-forecast .today .temp {
    font-size: 1.15rem;
  }

  .date-container .time {
    font-size: 4rem;
  }

  .date-container #am-pm {
    font-size: 20px;
  }

  .date-container .date {
    font-size: 20px;
  }

  .place-container {
    text-align: end;
    margin-top: 15px;
  }

  .place-container .time-zone {
    font-size: 20px;
  }

  .current-info .others {
    padding: 12px;
  }

  .current-info .others .weather-item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
}
